<%- include("../../partials/sidebar") %>
<div class="col-9">
    <br>
    <h2 class="text-center"> <%= title %> <small class="text-muted"> #<%= result.projectid %> <%= result.name %> </small>
    </h2>
    <hr>
    <br>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3><%= title %></h3>
                <hr>
                <form method="POST">

                    <div class="form-group row">
                        <label for="inputMember" class="col-sm-2 col-form-label">
                            Members</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="inputMember" name="inputmember"
                                value="<%= result2.firstname %> <%= result2.lastname %>" readonly>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Position</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="inputposition" id="gridRadios1"
                                        value="Manager" <%= result2.role == 'Manager' ? 'checked' : '' %>>
                                    <label class="form-check-label" for="gridRadios1">
                                        Manager
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="inputposition" id="gridRadios2"
                                        value="Software Developer" <%= result2.role == 'Software Developer' ? 'checked' : '' %>>
                                    <label class="form-check-label" for="gridRadios2">
                                        Software Developer
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="inputposition" id="gridRadios3"
                                        value="Quality Assurance" <%= result2.role == 'Quality Assurance' ? 'checked' : '' %> >
                                    <label class="form-check-label" for="gridRadios3">
                                        Quality Assurance
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-dark my-2 my-sm-0">Update</button>
                            <a class="btn btn-dark my-2 my-sm-0" href="/projects/members/<%= result.projectid %>"
                                role="button">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>

    <%- include("../../partials/footer") %>
</div>

</div>